/*header --------------------------------------------------------------------------------------------------------------------------------*/

.header{
    background-color: rgb(63, 145, 184);
    width: auto;
}
.headerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1024px;
    margin: auto;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    list-style-type: none;
    font-size: 22px;
}
.headerTitle{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    margin: 0px;
    height: 60px;
}
header h1{
    margin: 0px;
}
h6{
    color: grey;
}
nav{
    display: flex;
    justify-self: right;
    align-items: center;
    height: 60px;
}
nav li{
    margin: 0 0 0 20px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
/**/

body{
    margin: 0;
}

.content{
    width: 1024px;
    margin: auto;
}

/*orders --------------------------------------------------------------------------------------------------------------------------------*/

.orders{
    border: 3px ;
    margin: 0px auto 0px;
    padding: 15px 15px 5px 15px;
    max-width: 100%;
    height: auto;
    overflow: auto;
}
.orders li{
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
}
/* main -------------------------------------------------------------------------------------------------------------------------------*/

.records{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}
.record {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
}
.imgqueens{
    height: 100px;
    width: 100px;
    margin: 0%;
    padding: 0%
}
select{
    width: 50%;
}
span {
    display: inline-block;
    transform: translate(-1em, 2em);
  }
/* search ---------------------------------------------------------------------------------------------------------------------------- */

.result div {
    background-color: rgb(7 196 161);
    display: flex;
    flex-direction: row;
}
.result a {
    margin: 0;
}

.result div img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-left: 5px;
}
.result div h4 {
    float: right;
    font-size: 20px;
    margin: 20px;
}
input#searchProduct::placeholder {
    text-align: center;
    color: grey;
}
.searchresult {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(63, 145, 184);
    width: 280px;
    height: 70px;
    padding: 5px;
    margin: 5px;
}
input#searchChannel {
    width: 50%;
    background: purple;
    border-radius: 5px;
    font-size: 17px;
}
input#searchProduct::placeholder {
    text-align: center;
    color: white;
}
input#searchChannel {
    width: 50%;
    background: purple;
    border-radius: 5px;
    border-color: black;
    padding: 5px 8px;
    margin: 2%;
    color: white;
    min-height: 10%;
    min-width: 70%;
    position: absolute;
    top: 17%;
    left: 13%
}
.searchResult {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    top: 28%;
}
.searchResultBox {
    z-index: 3;
    width: 187%;
    background: rgb(7 196 161);
    border-radius: 5px;
    border-color: black;
    padding: 5px 8px;
    color: white;
    min-height: 5%;
}
.searchResultBox img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 5px;
    float: left;
    background-color: blue;
}
.searchbox{
    width: 100%;
    padding: 10px;
    margin: 5px;
    float: right;
}
.searchbox form input{
    width: 100%;
}
.searchResultBox h4 {
    float: right;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 18px;
}
.submitPost {
    position: absolute;
    top: 80%;
}
#search {
    width: 250px;
}
/* footer ----------------------------------------------------------------------------------------------------------------------------------*/
footer {
	background-color: lightgrey;
    width: 1024px;
	height: 200px;
}
#search {
    width: 250px;
}
.records{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}
.record {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
}
footer {
	background-color: lightgrey;
    width: 1024px;
	height: 250px;
	margin: auto;
}
.footerright {
	float: left;
        text-align: left;
        width: 512px;
	height: 100px;
	margin: 10px;
        padding: 10px;
}
.footerleft {
	float: right;
	text-align: right;
	margin: 10px;
    padding: 10px;
}
/* login and register----------------------------------------------------------------------------------------------------------------------*/

body{
    background-color: white;
}
.LoginBox{
    border: black 1px solid;
    padding-left: 20px;
    padding-bottom: 20px;
    
}
.positionBoxLogin{
    margin-top: 10%;
    margin-left:40% ;
    width: 350px;
    height: 260px;
}
.inputBoxLogin{
    width: 90%;
    padding-top: 5px;
    margin-bottom: 10px;
}
.submitforLogin{
    background-color: rgb(63, 145, 184);
    margin-right: 35px;
    width: 100px;
    height: 30px;
    color: white;
    margin-top: 10px;
}
.registerboxspacing{
    margin-top: 15px;
    width: 80%;
}
/* table ---------------------------------------------------------------------------------------------------------------------------------*/

table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table tbody tr:nth-child(even){
	background: #f3f3f3;
}
table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}
.imgqueens{
    height: 100px;
    width: 100px;
    margin: 0%;
    padding: 0%
}
