/*header*/

.header{
    background-color: rgb(63, 145, 184);
    width: auto;
}

.headerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1024px;
    margin: auto;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    list-style-type: none;
    font-size: 22px;
}

.headerTitle{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    margin: 0px;
    height: 60px;
}

header h1{
    margin: 0px;
}

nav{
    display: flex;
    justify-self: right;
    align-items: center;
    height: 60px;
}

nav li{

    margin: 0 0 0 20px;
}

/**/

body{
    margin: 0;
}